.header {
  @include bg-img("../img/hero-01.jpg");
  position: relative;
  //clip-path: polygon(50% 100%, 100% calc(100% - 207px), 100% 0, 0 0, 0 calc(100% - 207px));
  &__container {
    @include flex-grid-column(12,30);
    @include flex-grid-row();
    padding-top: 46px;
  }
  &__logo {
    @include flex-grid-column(3);
    @include breakpoint(md) {
      @include flex-grid-column(1);
    }
    @include breakpoint(xlg) {
      @include flex-grid-column(1);
    }
  }
  &__menu {
    @include flex-grid-column(9);
    text-align: right;
    line-height: 43px;
    position: relative;
    @include breakpoint(md) {
      @include flex-grid-column(11);
    }
  }
   &__mainTitle {
     display: flex;
     width: 100%;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     margin: 250px auto 150px;
     @include breakpoint(md) {
       margin: 296px auto 88px;
     }
   }
}
.logo-w {
  max-width: none;
}



.hexagon {
  width: 105px;
  height: 60px;
  background: #ecf0f1;
  position: relative;
  text-align: center;
  &:before {
    content: "";
    position: absolute;
    top: -30px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 55px solid transparent;
    border-bottom: 30px solid #ecf0f1;
  }
  &:after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 55px solid transparent;
    border-top: 30px solid #ecf0f1;
  }

  .logo-b {
    position: absolute;
    top: -10px;
    left: calc(50% - 36.5px);

  }
}
.header__title {
  color: #333333;
  font-size: 25px;
  position: absolute;
  bottom: -6px;
  left: 0;
  right: 0;
  margin-bottom: 0;
  strong {
    font-family: $headers-font-family;
  }
}
.header__text {
  margin: 64px 0 32px 0;
  line-height: 1.3;
  text-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
  color: #fafcfe;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  max-width: 60%;
}

.header__button {
  text-align: center;
  margin-bottom: 226px;
  .button__link {
    display: inline-block;
    color: #fafcfe;
    font-size: 15px;
    font-weight: 700;
    border: 2px solid #fafcfe;
    padding: 8px;
    width: 154px;
    transition: all 0.3s ease;
    &:hover {
      color: #333333;
      border: 2px solid #333333;
      box-shadow: 0 0 rem-calc(10) rgba(0, 0, 0, 0.5);
    }
  }

}
.header__button-scroll-down {
  width: 100%;
  text-align: center;
  bottom: 207px;
  .button-scroll-down__link {
    display: inline-block;
  }
  .button-scroll-down__img {
    transition: all 0.3s ease;
    &:hover {
      transform: rotate(180deg) scale(1.2);
    }
  }
  .button-scroll-down__title {
    margin-top: 2px;
    color: #fafcfe;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
  }

}