.wheel {
  animation-name: wheel;
  animation-duration: 10s;
  animation-iteration-count: 2;
  animation-direction:normal;
  animation-timing-function: ease;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes wheel {
  0% {
    transform:  rotate(0);
  }
  16.67% {
    transform:  rotate(60deg);
  }
  33.34% {
    transform:  rotate(120deg);
  }
  50.01% {
    transform:  rotate(180deg);
  }
  66.67% {
    transform:  rotate(240deg);
  }
  83.35% {
    transform:  rotate(300deg);
  }
  100% {
    transform:  rotate(360deg);
  }
}